@mixin docs {
  display: block;

  pre {
    padding: 1rem;
    background: black;
    border-radius: 0.25rem;
    code {
      color: limegreen;
    }
  }
}

@mixin hi-res-image($url, $ext, $width, $height, $bg-props: no-repeat left center, $max: 2, $bg-color: transparent) {

  background: $bg-color url('#{$url}.#{$ext}') $bg-props;
  background-size: $width $height;

  @for $ratio from 2 through $max {
    @media(-webkit-min-device-pixel-ratio: $ratio),
    (min--moz-device-pixel-ratio: $ratio),
    (min-resolution: ($ratio) dppx),
    (min-resolution: (96 * $ratio) dpi) {
      background-image: url('#{$url}@#{$ratio}x.#{$ext}');
      background-size: $width $height;
    }
  }

}

@mixin logo {
  @include hi-res-image('./img.logo', 'png', 150px, 55px);
}